.sidebarContainer {
    padding: 10px;
    border-right: 1px solid #eee;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    padding: 10px 18px;
}

.content {
    display: block;
    width: 100%;
}

.active {
    color: var(--primary-color);
}
