.paginationWrapper {
    list-style: none;
    display: flex;
    gap: 4px;
}

.pagination {
    padding: 4px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.2s;
    user-select: none;
    border-radius: 4px;
}

.pagination:hover {
    opacity: 0.6;
    background-color: var(--primary-color);
}

.changePageIcon {
    display: grid;
    place-items: center;
    line-height: 1rem;
}

.changePageIcon span {
    margin-bottom: 2px;
}

.active {
    background-color: var(--primary-color);
    pointer-events: none;
}

.disabled {
    pointer-events: none;
    background-color: #e4e4e4;
    color: #b9b9b9;
    border-color: #c5c5c5;
}
