.sidebarContainer {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.045);
}

.list {
    list-style: none;
}

.item {
    padding: 10px 30px;
}

.content {
    display: block;
    width: 100%;
}

.active {
    color: var(--primary-color);
}
