.postDetailsContainer {
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
}

.post {
    margin-bottom: 70px;
}

.postTitle {
    margin-bottom: 8px;
}

.userId {
    font-size: 0.8rem;
    margin: 0;
}

.postBody {
    margin-bottom: 30px;
}

.commentList {
    list-style: none;
    margin-top: 20px;
}

.noComment {
    font-style: italic;
    color: rgb(200, 200, 200);
}

.commentItem {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc58;
    margin-bottom: 16px;
}

.commentItem:last-child {
    border-bottom: none;
}

.commentHeader {
    display: flex;
    gap: 10px;
}

.commentName {
    font-weight: 500;
    margin: 0;
}

.commentEmail {
    font-size: 0.8rem;
    justify-self: left;
    line-height: 1.6rem;
}

.commentBody {
    margin: 8px 0 10px;
}
